$mobile-width: 600px !default;
$tablet-width: 768px !default;
$desktop-width: 1024px !default;

$primary-color: #f9f8f4;
$secondary-color: #333331;

$max-width: 1400px;


.max-width {
    max-width: min(100%, $max-width);
}