@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/halimun?styles=37139");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
	font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--primary-color: #f9f8f4;
	--secondary-color: #333331;

	background-color: #f9f8f4;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87); */
}

body {
	display: flex;
	align-items: stretch;
	min-height: 100vh;
	min-width: 100vw;
}

#app {
	flex: 1;
	text-align: center;
}
